/* :root {
  --progress: 0%;
}

.progress-bar {
  width: var(--progress) !important;
} */
.progress-bar {
  width: 100%;
}
.progress_bar_inactive {
  width: 0%;
}
.progress_bar_active {
  /* animation: progress_increase 1s linear; */
  /* width: 100%; */
  transition: width linear;
  transition-duration: 20s !important;
}

@keyframes progress_increase {
  0% {
    width: 0% !important;
    transition: 0.5s;
  }
  100% {
    width: 100% !important;
    transition: 0.5s;
  }
}
.progressbar_label {
  color: black;
}
.seo_main_div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seo_url_text {
  color: white;
  font-size: 28px;
}

.seo_start_loading {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  border-radius: 80%;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  /* border-left: 3px solid white;
  border-right: 3px solid white; */
  margin-top: -0px;
  animation: seo_loading_rotate 1s linear infinite;
  display: none;
}

@keyframes seo_loading_rotate {
  0% {
    transform: rotate(360deg);
  }
}

.seo_input_error {
  color: rgb(240, 154, 128);
  margin-top: 0px;
  font-weight: bold;
}

.seo_total_score_circle_green {
  height: 150px;
  width: 150px;
  background-color: rgb(169, 228, 169);
  border-radius: 50%;
  border: 6px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: green;
  margin-left: 300px;
  margin-top: 30px;
}

.seo_total_score_circle_orange {
  height: 150px;
  width: 150px;
  background-color: rgb(224, 212, 176);
  border-radius: 50%;
  border: 6px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: orange;
  margin-left: 300px;
  margin-top: 30px;
}

.seo_total_score_circle_red {
  height: 150px;
  width: 150px;
  background-color: rgb(238, 183, 167);
  border-radius: 50%;
  border: 6px solid rgb(167, 51, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(167, 51, 30);
  margin-left: 300px;
  margin-top: 30px;
}

.no_seo_score_found {
  color: rgb(240, 154, 128);
}

.progress-bar {
  background-color: rgb(135, 197, 42) !important;
}

.primary_reports {
  margin-top: 50px;
}

.primary_reports1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first_contentful_paint_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 28%;
}

.fcp_text,
.fcp_value {
  font-size: 16px;
  color: white;
}

.primary_reports1_table {
  width: 40% !important;
}

.primary_reports1_table tr td {
  color: white;
  font-size: 16px;
}
.primary_reports1_table tr td {
  text-align: start;
}

.summary_text {
  color: white;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  margin-left: 6px;
}

.opportunity_text {
  color: white;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  margin-left: 6px;
  margin-top: 50px;
}

.accordion-button {
  background-color: white !important;
}

.accordion {
  margin-top: 5px;
}

.accordion-body p {
  color: white;
}

@media screen and (max-width: 460px) {
  .seo_url_text {
    font-size: 17px;
  }

  .seo_total_score_circle_green {
    height: 150px;
    width: 150px;
    background-color: rgb(169, 228, 169);
    border-radius: 50%;
    border: 6px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: green;
    margin-left: 110px;
    margin-top: 30px;
  }

  .seo_total_score_circle_orange {
    height: 150px;
    width: 150px;
    background-color: rgb(224, 212, 176);
    border-radius: 50%;
    border: 6px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: orange;
    margin-left: 110px;
    margin-top: 30px;
  }

  .seo_total_score_circle_red {
    height: 150px;
    width: 150px;
    background-color: rgb(238, 183, 167);
    border-radius: 50%;
    border: 6px solid rgb(167, 51, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(167, 51, 30);
    margin-left: 110px;
    margin-top: 30px;
  }

  .primary_reports1_table {
    width: 100% !important;
  }

  .primary_reports1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
