.seo_main_div {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seo_url_text {
  color: white;
  font-size: 28px;
}

.seo_start_loading {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  border-radius: 80%;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  /* border-left: 3px solid white;
  border-right: 3px solid white; */
  margin-top: -0px;
  animation: seo_loading_rotate 1s linear infinite;
  display: none;
}

@keyframes seo_loading_rotate {
  0% {
    transform: rotate(360deg);
  }
}

.seo_input_error {
  color: rgb(240, 154, 128);
  margin-top: 0px;
  font-weight: bold;
}

.seo_total_score_circle_green {
  height: 150px;
  width: 150px;
  background-color: rgb(169, 228, 169);
  border-radius: 50%;
  border: 6px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: green;
  margin-left: 300px;
  margin-top: 30px;
}

.seo_total_score_circle_orange {
  height: 150px;
  width: 150px;
  background-color: rgb(224, 212, 176);
  border-radius: 50%;
  border: 6px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: orange;
  margin-left: 300px;
  margin-top: 30px;
}

.seo_total_score_circle_red {
  height: 150px;
  width: 150px;
  background-color: rgb(238, 183, 167);
  border-radius: 50%;
  border: 6px solid rgb(167, 51, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(167, 51, 30);
  margin-left: 300px;
  margin-top: 30px;
}

.no_seo_score_found {
  color: rgb(240, 154, 128);
}

@media screen and (max-width: 460px) {
  .seo_url_text {
    font-size: 17px;
  }

  .seo_total_score_circle_green {
    height: 150px;
    width: 150px;
    background-color: rgb(169, 228, 169);
    border-radius: 50%;
    border: 6px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: green;
    margin-left: 110px;
    margin-top: 30px;
  }

  .seo_total_score_circle_orange {
    height: 150px;
    width: 150px;
    background-color: rgb(224, 212, 176);
    border-radius: 50%;
    border: 6px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: orange;
    margin-left: 110px;
    margin-top: 30px;
  }

  .seo_total_score_circle_red {
    height: 150px;
    width: 150px;
    background-color: rgb(238, 183, 167);
    border-radius: 50%;
    border: 6px solid rgb(167, 51, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(167, 51, 30);
    margin-left: 110px;
    margin-top: 30px;
  }
}
