.work_details_features_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px;
}

.work_details_features_header::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 130px;
  background-color: #0099ff;
  margin-top: 80px;
  margin-left: -315px;
}

.work_details_features_square_main_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.work_details_features_square {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.work_details_features_square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0099ff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: work_details_features_circle 6s linear infinite;
}

.work_details_features_square:hover span:nth-child(1) {
  background: rgba(0, 0, 255, 0.8);
  border: none;
}

.work_details_features_square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0099ff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: work_details_features_circle 4s linear infinite;
}

.work_details_features_square:hover span:nth-child(2) {
  background: rgba(0, 0, 255, 0.8);
  border: none;
}

.work_details_features_square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0099ff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: work_details_features_circle1 10s linear infinite;
}

.work_details_features_square:hover span:nth-child(3) {
  background: rgba(0, 0, 255, 0.8);
  border: none;
}

@keyframes work_details_features_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes work_details_features_circle1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.work_details_features_content {
  position: relative;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 2;
}

.work_details_features_content p {
  margin-top: 20px;
}

.work_details_features_square:hover .work_details_features_content h2 {
  color: white;
}

.work_details_features_square:hover .work_details_features_content p {
  color: white;
}
