#service_mail_whole {
  animation: service_mail_whole 6s ease-in-out alternate infinite;
  transform-origin: center;
  /* transform-box: fill-box; */
}

@keyframes service_mail_whole {
  100% {
    transform: rotateZ(-180deg);
  }
}

#service_gear_whole {
  animation: service_gear_whole 6s ease-in-out alternate infinite;
  transform-origin: center;
  /* transform-box: fill-box; */
}

@keyframes service_gear_whole {
  100% {
    transform: rotateZ(-180deg);
  }
}

#service_gear {
  animation: service_gear 6s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes service_gear {
  100% {
    transform: rotate(360deg);
  }
}

#service_bulb_whole {
  animation: service_bulb_whole 0.6s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes service_bulb_whole {
  100% {
    transform: translateY(-50px);
  }
}

#service_bulb_dots {
  animation: service_bulb_dots 0.6s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
  opacity: 0;
}

@keyframes service_bulb_dots {
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}

#service_msg_dot1 {
  animation: service_msg_dot1 0.6s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
  opacity: 0;
}

@keyframes service_msg_dot1 {
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

#service_msg_dot2 {
  animation: service_msg_dot2 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
  opacity: 0;
}

@keyframes service_msg_dot2 {
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

#service_msg_dot3 {
  animation: service_msg_dot3 1s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
  opacity: 0;
}

@keyframes service_msg_dot3 {
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

#service_msg_whole {
  animation: service_msg_whole 0.5s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
  /* opacity: 0; */
  transform: scale(0.7);
}

@keyframes service_msg_whole {
  100% {
    transform: scale(1.2);
    /* opacity: 1; */
  }
}

#service_pc {
  animation: service_pc 0.5s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes service_pc {
  100% {
    transform: translateX(8px);
  }
}

#service_bg {
  animation: service_bg 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes service_bg {
  100% {
    transform: translateY(40px);
  }
}

#service_head,
#service_headphone,
#service_body {
  animation: service_head 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes service_head {
  100% {
    transform: translateY(12px);
  }
}

#service_right_hand {
  animation: service_right_hand 0.6s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes service_right_hand {
  100% {
    transform: translateY(30px) rotateZ(10deg);
  }
}

@media screen and (max-width: 468px) {
  .service_svg {
    width: 120vw;
    height: auto;
    margin-left: -55px;
  }
}
