.feature_one_image1 {
  width: 600px;
  height: auto;
  animation: floating_image1 4s linear infinite;
  /* box-shadow: 0px 0px 10px 0px;
  border-radius: 10px; */
}

@keyframes floating_image1 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

#homesection3_girl_right_hand,
#homesection3_girl_head {
  animation: homesection3_girl_right_hand 0.9s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes homesection3_girl_right_hand {
  100% {
    transform: rotateZ(-10deg) translateY(-10px);
  }
}

#homesection3_girl_ponytail {
  animation: homesection3_girl_ponytail 0.9s ease-in-out alternate-reverse
    infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes homesection3_girl_ponytail {
  100% {
    transform: rotateZ(12deg) translateX(-15px);
  }
}

#homesection3_girl_left_hand {
  animation: homesection3_girl_left_hand 0.9s ease-in-out alternate-reverse
    infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes homesection3_girl_left_hand {
  100% {
    transform: rotateZ(12deg) translateX(-25px);
  }
}

#homesection3_boy_left_hand {
  animation: homesection3_boy_left_hand 0.9s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes homesection3_boy_left_hand {
  100% {
    transform: rotateZ(-15deg) translateY(10px) translateX(-30px);
  }
}

#homesection3_boy_head {
  animation: homesection3_boy_head 0.9s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes homesection3_boy_head {
  100% {
    transform: rotateZ(15deg) translateX(20px);
  }
}

#homesection3_girl_left_leg {
  animation: homesection3_girl_left_leg 0.9s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes homesection3_girl_left_leg {
  100% {
    transform: rotateZ(20deg);
  }
}

#homesection3_girl_body,
#homesection3_boy_body {
  animation: homesection3_girl_body 0.9s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes homesection3_girl_body {
  100% {
    transform: translateY(10px);
  }
}

#homesection3_gear1 {
  animation: homesection3_gear1 0.9s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes homesection3_gear1 {
  100% {
    transform: rotate(360deg);
  }
}

#homesection3_gear2 {
  animation: homesection3_gear2 0.9s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes homesection3_gear2 {
  100% {
    transform: rotate(360deg);
  }
}

#homesection3_calendar {
  animation: homesection3_calendar 1.1s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes homesection3_calendar {
  100% {
    transform: translateY(-100px);
  }
}

#homesection3_html {
  animation: homesection3_html 1s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes homesection3_html {
  100% {
    transform: translateX(100px);
  }
}

#homesection3_leaf1,
#homesection3_leaf2,
#homesection3_leaf3 {
  animation: homesection3_leaf1 0.7s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes homesection3_leaf1 {
  100% {
    transform: rotateZ(10deg);
  }
}

#homesection3_leaf4,
#homesection3_leaf5 {
  animation: homesection3_leaf4 0.7s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes homesection3_leaf4 {
  100% {
    transform: rotateZ(10deg);
  }
}

@media screen and (max-width: 460px) {
  .homesection3_svg {
    width: 100vw;
    height: 400px;
    margin-left: -10px;
  }
}
