.hero_title {
  font-size: 39px !important;
}

.hero__client ul{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  align-items: center;
  margin-top: -20px;
}

.hero__client ul li{
            animation: scroll 12s linear infinite;
        
        }

        @keyframes scroll {
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(calc(-225px * 6));
            }
        }

        @media screen and (max-width: 600px) {
            @keyframes scroll {
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(calc(-221px * 6));
            }
        }
        }

.covidsurokkha_logo {
  width: 170px;
  height: auto;
}

.brac_logo {
  width: 80px;
  height: auto;
}

.designhub_logo {
  width: 220px;
  height: auto;
}

.emirates_logo {
  width: 100px;
  height: 60px;
}

.bosphorus_logo {
  width: 55px;
}

.hbcc_logo {
  width: 105px;
}

.ipa_logo {
  width: 105px;
}

.qatar_logo {
  width: 65px;
}

.ukaid_logo {
  width: 110px;
}

.ukgovt_logo {
  width: 60px;
}

.unilever_logo {
  width: 90px;
}

.icinema_logo {
  width: 45px;
}

/* hero svg */
.hero_svg {
  margin-top: -200px;
  margin-left: 70px;
}

#hero_head {
  animation: hero_head 0.9s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_head {
  100% {
    transform: rotateZ(-6deg);
  }
}

#hero_body {
  animation: hero_body 0.9s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_body {
  100% {
    transform: translateY(-11px);
  }
}

#hero_hand {
  animation: hero_hand 0.9s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_hand {
  100% {
    transform: rotateZ(-6deg);
  }
}

#hero_gear1 {
  animation: hero_gear1 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_gear1 {
  100% {
    transform: rotateZ(360deg);
  }
}

#hero_gear2 {
  animation: hero_gear2 1s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_gear2 {
  100% {
    transform: rotateZ(-360deg);
  }
}

#hero_flower {
  animation: hero_flower 0.6s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_flower {
  100% {
    transform: rotateZ(-6deg);
  }
}

#hero_user_bg {
  animation: hero_user_bg 0.9s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_user_bg {
  100% {
    transform: translateY(-80px) translateX(80px);
  }
}

#hero_user_icon {
  animation: hero_user_icon 1.2s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_user_icon {
  100% {
    transform: rotateY(180deg);
  }
}

#hero_gallery1 {
  animation: hero_gallery1 1s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_gallery1 {
  100% {
    transform: translateX(130px) translateY(36px);
  }
}

#hero_gallery2 {
  animation: hero_gallery2 2s linear alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes hero_gallery2 {
  100% {
    transform: rotateY(360deg);
  }
}

/* .hero__client ul li:not(:last-child) {
  margin-right: 12px !important;
} */

.hero__client ul li:not(:last-child) {
  margin-right: 12px !important;
}

.hero_image1 {
  width: 630px;
  height: auto;
  border-radius: 10px !important;
}

.hero_image2 {
  width: 150px;
  height: auto;
  border-radius: 10px !important;
}

.hero_image3 {
  width: 140px;
  height: auto;
  border-radius: 10px !important;
}

.hero_image4 {
  width: 150px;
  height: auto;
  border-radius: 10px !important;
}

.hero-2-circle-2 {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 600px) {
  .hero_title {
    font-size: 30px !important;
  }

  .hero_section_clients_mbl{
    margin-top: 200px !important;
  }

  /* .covidsurokkha_logo {
    width: 100px;
    height: auto;
  } */

  .ronyrezaul_logo {
    width: 70px;
    height: auto;
  }

  .cryptogenies_logo {
    width: 100px;
    height: auto;
  }

  .shoesbyenvy_logo {
    width: auto;
    height: 30px;
  }

  .hero__client ul li:not(:last-child) {
    margin-right: 10px !important;
  }

  .hero_svg {
    margin-top: 0px;
    margin-left: -10px;
    height: 400px;
    width: 100vw;
  }
}
