.hero_title {
  font-size: 39px !important;
}

.covidsurokkha_logo {
  width: 140px;
  height: auto;
}

.ronyrezaul_logo {
  width: 80px;
  height: auto;
}

.cryptogenies_logo {
  width: 130px;
  height: auto;
}

.shoesbyenvy_logo {
  width: auto;
  height: 32px;
}

.hero__client ul li:not(:last-child) {
  margin-right: 12px !important;
}

.hero_image1 {
  width: 630px;
  height: auto;
  border-radius: 10px !important;
}

.hero_image2 {
  width: 150px;
  height: auto;
  border-radius: 10px !important;
}

.hero_image3 {
  width: 140px;
  height: auto;
  border-radius: 10px !important;
}

.hero_image4 {
  width: 150px;
  height: auto;
  border-radius: 10px !important;
}

.hero-2-circle-2 {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 460px) {
  .hero_title {
    font-size: 30px !important;
  }

  .covidsurokkha_logo {
    width: 100px;
    height: auto;
  }

  .ronyrezaul_logo {
    width: 70px;
    height: auto;
  }

  .cryptogenies_logo {
    width: 100px;
    height: auto;
  }

  .shoesbyenvy_logo {
    width: auto;
    height: 30px;
  }

  .hero__client ul li:not(:last-child) {
    margin-right: 10px !important;
  }
}
