.newsletter_input {
  height: 50px;
  border-radius: 6px !important;
  outline: none;
}

.newsletter_btn_fade {
  cursor: no-drop !important;
  --primary: #8592bb !important;
}

.newsletter_btn {
  --primary: #275efe;
  --primary-dark: #2055ee;
  --primary-darkest: #133fc0;
  --text: #ffffff;
  --text-opacity: 1;
  --success: #2b3044;
  --success-scale: 0.2;
  --success-opacity: 0;
  --border-radius: 7;
  --overflow: hidden;
  --rotate: 0;
  --plane-x: 0;
  --plane-y: 0;
  --plane-opacity: 1;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0;
  --left-wing-first-y: 0;
  --left-wing-second-x: 50;
  --left-wing-second-y: 0;
  --left-wing-third-x: 0;
  --left-wing-third-y: 100;
  --left-body-background: var(--primary);
  --left-body-first-x: 50;
  --left-body-first-y: 0;
  --left-body-second-x: 50;
  --left-body-second-y: 100;
  --left-body-third-x: 0;
  --left-body-third-y: 100;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 50;
  --right-wing-first-y: 0;
  --right-wing-second-x: 100;
  --right-wing-second-y: 0;
  --right-wing-third-x: 100;
  --right-wing-third-y: 100;
  --right-body-background: var(--primary);
  --right-body-first-x: 50;
  --right-body-first-y: 0;
  --right-body-second-x: 50;
  --right-body-second-y: 100;
  --right-body-third-x: 100;
  --right-body-third-y: 100;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 330px;
  left: 77.8%;
  border: 0;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  margin: 0;
  line-height: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  background: none;
  outline: none;
  color: var(--text);
  transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.left,
.right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: var(--plane-opacity);
  transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px))
    translateZ(0);
}

.left::before,
.left::after,
.right::before,
.right::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: calc(var(--border-radius) * 1px);
  transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
  z-index: var(--z-index, 2);
  background: var(--background, var(--left-wing-background));
  clip-path: polygon(
    calc(var(--first-x, var(--left-wing-first-x)) * 1%)
      calc(var(--first-y, var(--left-wing-first-y)) * 1%),
    calc(var(--second-x, var(--left-wing-second-x)) * 1%)
      calc(var(--second-y, var(--left-wing-second-y)) * 1%),
    calc(var(--third-x, var(--left-wing-third-x)) * 1%)
      calc(var(--third-y, var(--left-wing-third-y)) * 1%)
  );
}

.left::after {
  --x: 0;
  --z-index: 1;
  --background: var(--left-body-background);
  --first-x: var(--left-body-first-x);
  --first-y: var(--left-body-first-y);
  --second-x: var(--left-body-second-x);
  --second-y: var(--left-body-second-y);
  --third-x: var(--left-body-third-x);
  --third-y: var(--left-body-third-y);
}
.right::before {
  --x: -0.4%;
  --z-index: 2;
  --background: var(--right-wing-background);
  --first-x: var(--right-wing-first-x);
  --first-y: var(--right-wing-first-y);
  --second-x: var(--right-wing-second-x);
  --second-y: var(--right-wing-second-y);
  --third-x: var(--right-wing-third-x);
  --third-y: var(--right-wing-third-y);
}
.right::after {
  --x: 0;
  --z-index: 1;
  --background: var(--right-body-background);
  --first-x: var(--right-body-first-x);
  --first-y: var(--right-body-first-y);
  --second-x: var(--right-body-second-x);
  --second-y: var(--right-body-second-y);
  --third-x: var(--right-body-third-x);
  --third-y: var(--right-body-third-y);
}

.newsletter_btn span {
  display: block;
  position: relative;
  z-index: 4;
  opacity: var(--text-opacity);
}

span.success {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale))
    translateZ(0);
  opacity: var(--success-opacity);
  color: var(--primary);
  font-weight: bold;
}

.news_svg {
  margin-top: -65px;
  margin-left: -100px;
}

#news_head,
#news_body,
#news_legs {
  animation: news_head 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes news_head {
  100% {
    transform: translateY(15px);
  }
}

#news_left_hand {
  animation: news_left_hand 0.6s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes news_left_hand {
  100% {
    transform: rotateZ(12deg) translateX(50px);
  }
}

#news_right_hand {
  animation: news_right_hand 0.7s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes news_right_hand {
  100% {
    transform: rotateZ(-6deg) translateX(30px) translateY(20px);
  }
}

#news_right_shoe {
  animation: news_right_shoe 0.7s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes news_right_shoe {
  100% {
    transform: rotateZ(-15deg);
  }
}

#news_left_shoe {
  animation: news_left_shoe 0.7s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes news_left_shoe {
  100% {
    transform: rotateZ(-15deg);
  }
}

#news_paper_plane {
  animation: news_paper_plane 2s ease-in-out infinite;
  transform-origin: center;
  /* transform-box: fill-box; */
}

@keyframes news_paper_plane {
  100% {
    transform: rotate(360deg);
  }
}

#news_mail3,
#news_mail1,
#news_mail2 {
  animation: news_mail3 1s ease-in-out alternate-reverse infinite;
  transform-origin: center;
  transform: scale(0.8);
  /* transform-box: fill-box; */
}

@keyframes news_mail3 {
  100% {
    transform: scale(1) translateX(-300px);
  }
}

#news_mail4,
#news_mail5 {
  animation: news_mail4 1s ease-in-out alternate-reverse infinite;
  transform-origin: center;
  transform: scale(0.8);
  /* transform-box: fill-box; */
}

@keyframes news_mail4 {
  100% {
    transform: scale(1) translateX(300px);
  }
}

#news_star1,
#news_star2,
#news_star3,
#news_star4,
#news_star5,
#news_star6,
#news_star7,
#news_star8,
#news_star9,
#news_star10 {
  animation: news_star 3s linear infinite;
  transform-origin: center;

  transform-box: fill-box;
}

@keyframes news_star {
  100% {
    transform: rotateZ(360deg);
  }
}

#news_leaf1,
#news_leaf2,
#news_leaf3 {
  animation: news_leaf1 0.8s ease-in-out alternate infinite;
  transform-origin: center;

  transform-box: fill-box;
}

@keyframes news_leaf1 {
  100% {
    transform: rotateZ(10deg);
  }
}

@media screen and (max-width: 460px) {
  .news_svg {
    width: 140vw;
    height: auto;
    margin-left: -95px;
  }

  .newsletter_btn {
    top: 296px;
    left: 68vw;
  }
}
