.fa-arrow-right {
  color: #2f80ed;
  font-size: 16px;
}

.services_read_more_arrow {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  margin-left: 15px;
}

.services_read_more_btn {
  position: absolute;
  left: 0px;
  bottom: 20px;
  padding: 8px;
  background-color: #2f80ed;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 15px;
  box-shadow: 10px 5px 10px 0px rgba(0.2, 0.2, 0.2, 0.2);
}

.read_more_btn_text {
  color: white;
  font-size: 15px;
  margin-left: 10px;
}

.services__content-2 {
  margin-bottom: 30px;
}
