/* .slick-prev,
.slick-next {
  color: black !important;
  border: 1px solid black !important;
  background: black !important;
  border-radius: 50% !important;
} */

.card-wrapper {
  background-color: transparent;
  height: 470px;
  width: 350px;
  border-right: 1px solid lightgray;
  padding: 50px 40px;
  border-radius: 0px;
}

.slick-slider {
  margin-top: -80px;
}

.slick-track {
  margin-top: 100px;
}

.slick-list {
  margin-left: 65px;
}

.card-wrapper:hover {
  transform: translateY(-50px);
  transition: 0.5s;
  cursor: pointer;
  border-radius: 15px;
  background-color: white;
  border: 0px solid white;
}

.card-wrapper:hover .team_image {
  transform: scale(1.3);
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 70px;
}

.card-wrapper:hover .team_read_more {
  color: white;
  transition: 0.5s;
  border-bottom: 0px solid transparent;
}

.card-wrapper:hover .read_more_btn_link {
  top: 375px;
  transition: 0.5s;
}

.read_more_btn:hover {
  background-color: #296599;
}

.card-wrapper:not(:hover) {
  transition: 0.5s;
}

.card-image {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.team_title {
  margin-top: 20px;
  font-size: 22px;
}

.team_para {
  color: black;
  margin-top: 15px;
  font-size: 15px;
}

.team_image {
  margin-top: 90px;
}

.team_read_more {
  border-bottom: 1px solid #296599;
  margin-top: 30px;
  color: #296599;
  font-weight: bold;
  font-size: 19px;
}

.read_more_btn_link {
  position: absolute;
  z-index: -999;
  top: 500px;
}

.read_more_btn {
  background-color: #296599;
  width: 150px;
  height: 42px;
  border-radius: 10px;
  border: 0px solid transparent;
}

.color_bg {
  position: absolute;
  z-index: -9;
  width: 100%;
  height: 180px;
  transform: translateY(-300px);
  background-color: rgb(89, 89, 158);
  top: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0;
}

.card-wrapper:hover .color_bg {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s;
}

.card-wrapper:not(:hover) .color_bg {
  transition: 0.5s;
}

@media screen and (max-width: 460px) {
  /* .slick-slide {
    width: 95vw !important;
  } */

  .slick-list {
    margin-left: 0px !important;
  }

  .card-wrapper {
    border-right: none !important;
  }

  .slick-active .card-wrapper {
    transform: translateY(-50px);
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;
    background-color: white;
    border: 0px solid white;
  }

  .slick-active .team_image {
    transform: scale(1.3);
    transition: 0.5s;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .slick-active .color_bg {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
  }

  .read_more_btn_link,
  .read_more_btn {
    display: none !important;
  }

  .card-wrapper:hover .team_read_more {
    color: #296599;
    border-bottom: 1px solid #296599;
  }
}
