#blog_card_section {
  margin-top: 70px;
  margin-bottom: 30px;
}

#blog_card_section_inside {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card:hover {
  background-color: white !important;
  box-shadow: 0px 0px 10px 0px gray !important;
  transition: 0.5s !important;
  margin-top: -50px;
}

.card:hover #blog_tag_div {
  background-color: #bed5eb !important;
  transition: 0.5s !important;
}

.card:hover #blog_tag_text {
  color: rgb(26, 18, 150) !important;
  transition: 0.5s !important;
  font-weight: bold !important;
}

.card:not(:hover) {
  transition: 0.5s !important;
}

.card:not(:hover) #blog_tag_div {
  transition: 0.5s !important;
}

.card:not(:hover) #blog_tag_text {
  transition: 0.5s !important;
}

input[name="blogs_searchbar"]:focus {
  outline: 0 none !important;
  box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
  /*border: 1px solid transparent !important;*/
  border-bottom: 2px solid #01cfbe !important;
  transition: 0.5s !important;
}

#blogs_searchbar::placeholder {
  float: left !important;
  font-size: 16px !important;
  margin-top: 0px !important;
}

#blogs_card_main_div {
  padding: 20px 15px;
}

.blogs_card {
  width: 22vw;
  border-radius: 15px;
  border: 0px transparent;
  background-color: #e8f3ff;
  cursor: pointer;
}

.card-img-top {
  width: auto;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

#blogs_date_div {
  position: absolute;
  z-index: 9;
  background-color: #0f3f88;
  padding: 2px 10px;
  border-radius: 8px;
  margin-top: -17px;
  left: calc(100% - 60px);
  width: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 30px;
  float: left;
}

#blogs_date_text {
  color: white;
}

#blog_tag_div {
  position: absolute;
  z-index: 9;
  background-color: #0f3f88;
  padding: 2px 15px;
  border-radius: 8px;
  top: 182px;
  left: calc(100% - 160px);
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 30px;
  flex-wrap: wrap;
  float: left;
}

#blog_tag_text {
  color: white;
}

#blogs_card_body {
  border-color: transparent;
  margin-top: 10px;
}

.card-text {
  line-height: 28px;
  color: #58547e;
}

#blogs_card_bottom_div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

#blogs_category_p {
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

#blogs_category_a {
  text-decoration: none;
  color: #58547e;
}

#blogs_time_span {
  margin-top: 10px;
  font-size: 14px;
}

#blogs_time_text {
  margin-left: 3px;
}

@media screen and (max-width: 460px) {
  .blogs_card {
    width: 82vw !important;
  }

  #blogs_date_div {
    left: calc(100% - 60px) !important;
  }

  #blog_tag_div {
    left: calc(100% - 160px) !important;
  }

  .blogs_searchbar {
    border-radius: 20px !important;
    border: 2px solid #58547e !important;
  }

  input[name="blogs_searchbar"]:focus {
    outline: 0 none !important;
    box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
    /*border: 1px solid transparent !important;*/
    border: 2px solid #01cfbe !important;
    transition: 0.5s !important;
  }

  #blogs_searchbar_icon {
    left: 93% !important;
    display: none !important;
  }

  #blogs_searchbar::placeholder {
    float: none !important;
  }

  .blogs_card::before {
    content: "" !important;
    margin-top: -25px;
    margin-left: -21px;
    height: 99% !important;
    width: 92.5vw !important;
    position: absolute !important;
    z-index: -1 !important;
    background-color: #58547e !important;
    border-radius: 15px !important;
    animation: float 2s linear infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .blogs_card {
    background-color: white !important;
    box-shadow: 0px 4px 0px 0px rgb(0.2, 0.2, 0.2, 0.2) !important;
    margin-top: 30px !important;
  }
}
