.logo_img_footer {
  height: 50px;
  width: 250px;
  margin-left: 0px;
  margin-top: -9px;
}

.emails {
  color: #2f80ed;
}

@media screen and (max-width: 600px) {
  .logo_img_footer {
    margin-left: 0px;
    margin-top: 0px;
  }
}
